*{
    font-family: 'Austie Bost Kitten Klub';
}
body{
    background-color: #F3EED9;
    color: #57423F;
}
@font-face {
    font-family: 'Austie Bost Kitten Klub';
    src: url('../fonts/austie-bost-kitten-klub.regular.ttf');
}